## Various Data Cleaning

Impute</br>
1. mode
2. nan -> negative

--> cols with nan values : car, Bar, CoffeeHouse, CarryAway, RestaurantLessThan20, Restaurant20To50

Data Types </br>
1. all categorical
2. categorical + ordinal

--> ordinal : temperature, time, expiration, age, income, CarryAway, [RestaurantLessThan20 + Restaurant20To50], [toCoupon_GEQ5min + toCoupon_GEQ15min + toCoupon_GEQ25min]

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.read_csv("in-vehicle-coupon-recommendation.csv")
df['temperature'] = df['temperature'].astype(object)

In [ ]:
def fillnull(col):
    col.fillna(col.value_counts().index[0], inplace=True)
    return col

df1 = df.copy() # mode / all categorical
df2 = df.copy() # mode / cate + ordinal
df3 = df.copy() # nan / all categorical
df4 = df.copy() # nan / all categorical _ one hot encoder

df1=df1.apply(lambda col:fillnull(col))
df2=df2.apply(lambda col:fillnull(col))

In [ ]:
ohe_col = ['destination', 'passanger', 'weather', 'temperature', 'time', 'coupon',
       'expiration', 'gender', 'age', 'maritalStatus', 'has_children',
       'education', 'occupation', 'income', 'car', 'Bar', 'CoffeeHouse',
       'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50',
       'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min',
       'direction_same', 'direction_opp']

df1 = pd.concat([df1['Y'], pd.get_dummies(df1[ohe_col])],axis=1) #finished
df3 = pd.concat([df3['Y'], pd.get_dummies(df3[ohe_col],dummy_na=True)],axis=1) # finished

/var/folders/jr/hf7j6j5x2yn3f7mvrb4x6xnh0000gn/T/ipykernel_5949/3672439029.py:8: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df1 = pd.concat([df1['Y'], pd.get_dummies(df1[ohe_col])],axis=1) #finished
/var/folders/jr/hf7j6j5x2yn3f7mvrb4x6xnh0000gn/T/ipykernel_5949/3672439029.py:9: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df3 = pd.concat([df3['Y'], pd.get_dummies(df3[ohe_col],dummy_na=True)],axis=1) # finished

In [ ]:
final_ohe = ['destination', 'passanger', 'weather', 'temperature', 'time', 'coupon',
       'expiration', 'gender', 'age', 'maritalStatus',
       'education', 'occupation', 'income', 'car', 'Bar', 'CoffeeHouse',
       'CarryAway', 'RestaurantLessThan20', 'Restaurant20To50']

In [ ]:
for i in df4.columns[:-1]:
    df4[i] = f'{i}_' + df4[i].astype(str)

In [ ]:
ohe = OneHotEncoder()
ohe_arr = ohe.fit_transform(df4[df4.columns[:-1]]).toarray()
final_df4 = pd.DataFrame(ohe_arr,index=df4.index,columns=[x for i in ohe.categories_ for x in i])
final_df4

,destination_Home,destination_No Urgent Place,destination_Work,passanger_Alone,passanger_Friend(s),passanger_Kid(s),passanger_Partner,weather_Rainy,weather_Snowy,weather_Sunny,...,Restaurant20To50_never,toCoupon_GEQ5min_1,toCoupon_GEQ15min_0,toCoupon_GEQ15min_1,toCoupon_GEQ25min_0,toCoupon_GEQ25min_1,direction_same_0,direction_same_1,direction_opp_0,direction_opp_1
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
12680,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
12681,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
12682,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
12683,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

In [ ]:
df4_other_cols = df4.drop(columns=df4.columns[:-1])
data_out = pd.concat([final_df4, df4_other_cols], axis=1)

In [ ]:
data_out.columns

Index(['destination_Home', 'destination_No Urgent Place', 'destination_Work',
       'passanger_Alone', 'passanger_Friend(s)', 'passanger_Kid(s)',
       'passanger_Partner', 'weather_Rainy', 'weather_Snowy', 'weather_Sunny',
       ...
       'toCoupon_GEQ5min_1', 'toCoupon_GEQ15min_0', 'toCoupon_GEQ15min_1',
       'toCoupon_GEQ25min_0', 'toCoupon_GEQ25min_1', 'direction_same_0',
       'direction_same_1', 'direction_opp_0', 'direction_opp_1', 'Y'],
      dtype='object', length=128)

In [ ]:
data_out.to_csv('../data/ohe_mode_allcat.csv')

In [ ]:
ord_col = ["temperature", "time", "expiration", "age", "income", "CarryAway", "RestaurantLessThan20", "Restaurant20To50"]
temp = {30:0, 50:1, 80:2}
time = {'7AM':0, "10AM":1, "2PM":2, "6PM":3, "10PM":4}
exp = {"1d":0, "2h":1 }
age = {"below21":0, "21":1, "26":2, "31":3, "36":4, "41":5, "46":6, "50plus":7 }
inc = {'Less than $12500':0,'$12500 - $24999':1,'$25000 - $37499':2,'$37500 - $49999':3, '$50000 - $62499':4, '$62500 - $74999':5,'$75000 - $87499':6,'$87500 - $99999':7,'$100000 or More':8}
ca = {'never':0 ,'less1':1, '1~3':2, '4~8':3, 'gt8':4}
restless20 = {'never': 0, 'less1':1, '1~3':2, '4~8':3, 'gt8':4}
rest20to50 = {'never':0, 'less1':1, '1~3': 2, '4~8':3, 'gt8':4}

ord_repl = [temp, time, exp, age, inc, ca, restless20, rest20to50]

In [ ]:
#  <5 , 5-15, 15-25, >25
df2['toCoupon_GEQ'] = np.where(((df2.toCoupon_GEQ5min==0) & (df2.toCoupon_GEQ15min==0) & (df2.toCoupon_GEQ25min==0)), 0, \
                     np.where(((df2.toCoupon_GEQ5min==1) & (df2.toCoupon_GEQ15min==0) & (df2.toCoupon_GEQ25min==0)), 1, \
                     np.where(((df2.toCoupon_GEQ5min==1) & (df2.toCoupon_GEQ15min==1) & (df2.toCoupon_GEQ25min==0)), 2, \
                     np.where(((df2.toCoupon_GEQ5min==1) & (df2.toCoupon_GEQ15min==1) & (df2.toCoupon_GEQ25min==1)), 3, None))))

In [ ]:
for i in range(len(ord_col)):
    df2[ord_col[i]].replace(ord_repl[i],inplace=True) #finished

In [ ]:
cat_col = df2.columns.difference(ord_col + ['toCoupon_GEQ','Y'])

In [ ]:
dummies = pd.get_dummies(df2[cat_col])
df2 = pd.concat([df2, dummies],axis=1)
df2.drop(columns=cat_col,inplace=True)

In [ ]:
df1.to_csv("mode_allcat.csv", index=False)

In [ ]:
df2.to_csv("mode_ordinal.csv", index=False)

In [ ]:
df3.to_csv("nan_allcat.csv", index=False)